<launch>
    <param name="/use_sim_time" value="true" />
    <arg name="path" default="/home/alessandro/robotics/bags/" />
    <arg name="bag_1" default="P2_first.bag" />
    <arg name="bag_2" default="P2_second.bag" />
    <arg name="world_file"     default="$(find second_project)/stage/mapping.world"/>

    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find second_project)/cfg/st_config.yaml" />
    </node>
    
  <!--  ***************** Robot simulation *****************  
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="base_scan" to="scan"/>
  </node>
	-->
    <node pkg="second_project" type="tf_publisher" name="tf_publisher" />

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/velodyne_points"/>
        <remap from="scan" to="/scan2"/>
        <param name="min_height" value="0.1"/>
        <param name="max_height" value="0.5"/>
        <param name="angle_increment" value="0.004"/>
        <param name="range_max" value="20.0"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="velodyne" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link velodyne 100" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/rviz/mapping.rviz"/>
    <node pkg="rosbag" type="play" name="player" args="--clock $(arg path)$(arg bag_2)" />

</launch>
